Source: dnswire
Section: net
Priority: optional
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Build-Depends: debhelper (>= 8.0.0), build-essential, automake, autoconf,
 libtool, pkg-config, libtinyframe-dev, protobuf-c-compiler,
 libprotobuf-c-dev
Standards-Version: 3.9.4
Homepage: https://github.com/DNS-OARC/dnswire
Vcs-Git: https://github.com/DNS-OARC/dnswire.git
Vcs-Browser: https://github.com/DNS-OARC/dnswire

Package: libdnswire0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for DNS encapsulations and transporting of them
 A C library for encoding/decoding different DNS encapsulations and
 transporting them over different protocols.

Package: libdnswire-dev
Architecture: any
Depends: libdnswire0, libtinyframe-dev, ${misc:Depends}
Description: library for DNS encapsulations and transporting of them - development files
 A C library for encoding/decoding different DNS encapsulations and
 transporting them over different protocols.
